.se-a{
    background-color: blueviolet;
}
.se-b{
    background-color: green;
}
.se-cd{
    background-color: blue;

}
.c{
    background-color: gray;

}
.d{
    background-color: brown;

}
.se-efgh{
    background-color: greenyellow;
}
.e{
    background-color: hotpink;
}
.f{
    background-color: lightgray;
}
.g{
    background-color: lawngreen;
}
.h{
    background-color: lightseagreen;
}
.se-i{
    background-color: lightslategray;
}
h1{
    text-align: center;
    
}
.i{
    background-color: maroon;
}

@media (min-width: 660px) {

    .se-a{background-color: burlywood;}
    .se-b{background-color: cadetblue;}
    .c{background-color: cornsilk;}
    .d{background-color: darkgoldenrod;}
    .e{background-color: darkorchid;}
    .f{background-color: darkslategrey;}
    .g{background-color: deepskyblue;}
    .h{background-color: forestgreen;}
    .i{background-color: greenyellow;}
}
@media (min-width: 1160px) {

    .se-a{background-color: mediumaquamarine;}
    .se-b{background-color: mediumslateblue;}
    .c{background-color: tomato;}
    .d{background-color: olive;}
    .e{background-color: orange;}
    .f{background-color: pink;}
    .g{background-color: royalblue;}
    .h{background-color: springgreen;}
    .i{background-color: sienna;}
}


